@charset 'utf-8';

/* gloval tags */

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  /* 가로 스크롤 방지 */
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

/* Loading page */

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  opacity: 1;
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: spin 3s infinite;
}

.loading-circle circle {
  stroke: gold;
  stroke-width: 4;
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  fill: none;
  animation: loading-circle-animation 1s infinite;
  transition: 1s;
}

/* Navigation */

.local-nav {
  padding: 0 1rem;
  position: fixed;
  height: 52px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

.local-nav.invisible {
  display: none;
}

.local-nav-links {
  height: inherit;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.local-nav-links a {
  font-size: 0.8rem;
  cursor: pointer;
}

.local-nav-links a:not(.product-name) {
  margin-left: 1em;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Scroll section */

/* section 0 */
.scroll-section {
  padding-top: 50vh;
  position: relative;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.video-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

#scroll-section-0 .title {
  position: relative;
  top: -20vh;
  font-size: 4rem;
  text-align: left;
  padding: 0 1rem;
}

.main-message {
  height: 4em;
  text-align: center;
  font-size: 2.5rem;
  opacity: 0;
  top: 40vh;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

/* section 1 */

#scroll-section-1 {
  background-color: whitesmoke;
  padding: 30vh 0;
}

#scroll-section-1 .title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10vh;
}

#scroll-section-1 .container {
  display: flex;
  flex-direction: column;
}

#scroll-section-1 .img-container {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.img-container .img-preview {
  cursor: pointer;
  border-radius: 10px;
}

.img-preview:hover {
  opacity: 0.8;
}

.img-container .img-caption {
  font-size: 1.8rem;
  margin: 1rem auto;
  background-color: white;
  width: fit-content;
}

.img-container .img-description {
  font-size: 1.2rem;
  color: #888;
  margin: 0 auto;
}

/* Image modal popup */

#img-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5%;
}

.modal-content {
  display: block;
  margin: 10vh auto;
  width: 80%;
  max-width: 700px;
}

#img-modal .close {
  z-index: 3;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 40px;
  transition: 0.3s;
  display: block;
}

#img-modal .close:hover,
#img-modal .close:focus,
.footer i:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* section 2 */

#scroll-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-section-2 .mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  font-size: 4rem;
  color: rgb(29, 29, 31);
}

.image-blend-canvas.sticky {
  position: fixed;
  z-index: -1;
}

.canvas-caption {
  font-size: 1.2rem;
  max-width: 1000px;
  margin: 0 1.2rem;
  margin-top: 200vh;
}

/* footer */

.footer {
  display: flex;
  font-size: 1.2rem;
  margin-top: 2em;
  height: 8em;
  justify-content: center;
  align-items: center;
}

.footer i {
  font-size: 3rem;
  color: #888;
  transition: 0.3s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-animation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

/* desktop size */

@media (min-width: 1024px) {
  #scroll-section-0 .title {
    font-size: 10vw;
    text-align: center;
  }
  .main-message {
    font-size: 5vw;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  #scroll-section-1 {
    background-color: whitesmoke;
    padding: 30vh auto;
  }

  #scroll-section-1 .title {
    font-size: 4rem;
  }

  #scroll-section-1 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #scroll-section-1 .img-container {
    max-width: 30vw;
  }

  #scroll-section-2 .mid-message {
    font-size: 5vw;
  }

  .mid-message strong {
    font-size: 6rem;
    color: rgb(29, 29, 31);
  }

  .canvas-caption {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 200vh;
  }
}
